
// ---------- paginator 
body .pagination,
body .p-paginator{ 
    // @extend .justify-content-end;    
    padding: 1.5rem 0;
    border-bottom: 0;
    gap: 5px;
    .p-dropdown .p-dropdown-label{
        padding: 0.5rem;
    }
}

body .p-paginator .p-paginator-first,
body .p-paginator .p-paginator-first,
body .p-paginator .p-paginator-prev,
body .p-paginator .p-paginator-next,
body .p-paginator .p-paginator-last {
    @extend .flip-ltr;
}
.page-link{
    background-color: transparent;
    border: 1px solid #9a9a9a40;
}
.p-paginator-prev,
.p-paginator-first,
.p-paginator-next,
.p-paginator-last{
    span{
        [dir="ltr"] & {
            transform: scaleX(-1);
        }
    } 
} 
.pagination .page-item a,
.p-paginator .p-paginator-pages .p-paginator-page,
.p-paginator .p-paginator-first, 
.p-paginator .p-paginator-prev, 
.p-paginator .p-paginator-next, 
.p-paginator .p-paginator-last{
    min-width: 2rem;
    height: 2rem;
    margin: 0;
    color: $primary; 
    border-radius: 5px;
    background-color: rgb(var(--bs-light-rgb));
    border: 0;
    line-height: 1.2;
    border: 1px solid #ddd;
}
.pagination .page-item.active a,
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: $primary;
    border-color: $primary;
    color: #fff;
}
.p-paginator-pages{
    gap: 5px;
    display: flex;
    flex-direction: row;
}
.pagination{

}