@media print{
    .header,
    .footer,
    .page-header,
    .print-btn
    {
        display: none !important;
    } 
    @page { 
        size: auto;   // auto is the initial value 
        margin: 5mm 5mm 5mm 5mm;  // this affects the margin in the printer settings
    }  
    body,
    .container{
        max-width: 100%;
        width: 100%;
        min-width: 992px;
        margin: 0;
    } 
}